body{
  background-color:white !important;
  margin-left:50px !important;
  margin-right:50px !important;
}

.navbar.navbar, .navbar-default.navbar{
  background-color:black !important;
}
.navbar-nav>li>a{
  color:white !important;
}
.navbar .navbar-brand{
  color:white !important;
}
a, a:hover, a:focus{
  color:#337ab7 !important;
}
.form-control{
  background-image:linear-gradient(#377DB8,#337AB7),linear-gradient(#d2d2d2,#d2d2d2) !important;
}
.profile-img-small{
  height:25px;
  width:25px;
  border-radius:10000px;
}
.loading-gif{
  height:35px;
}
.tabling-slot{
  float:left;
}
