
<h1>Add PBL Link</h1>

<h2>{{message}}</h2>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">pbl.link/</span>
  <input type="text" class="form-control" ng-model = 'golink.key' placeholder="key" aria-describedby="basic-addon1">
</div>


<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">redirects to</span>
  <input type="text" class="form-control" ng-model = 'golink.url' placeholder="url" aria-describedby="basic-addon2">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">description</span>
  <input type="text" class="form-control" ng-model = 'golink.description' placeholder="description" aria-describedby="basic-addon3">
</div>


<div ng-show = 'loading == true'>
  <img src = '{{loadingGif}}' class = 'loading-gif'>
</div>
<button class = 'btn btn-material-blue-500' ng-click = 'saveGolink()'>Save Link</button>
