<style type = 'text/css'>
.unconfirmed{
  opacity:0.3;
}
.none {
  opacity: 0.5;
  color: blue;
}
.chair{
  opacity:1;
  color:green;
}
.cm{
  opacity:0.5;
  color:blue;
}
.event-member:hover{
  cursor:pointer;
}
</style>


<h1>Attendance</h1>
<div ng-show = 'events == null || attendance == null'>
  <img src = '{{loadingGif}}' class = 'loading-gif'>
</div>
<div ng-show = 'events != null && attendance != null'>
  <div>
    <input type = 'text' class = 'form-control' placeholder = 'Search Members' ng-model = 'memberSearch'>
  </div>
  <div>
    <input type = 'text' class = 'form-control' placeholder = 'Search Events' ng-model = 'eventSearch'>
  </div>
  <div ng-repeat = 'event in events | filter:eventSearch'>
    <h3>{{event.name}} ({{event.start_time}})</h3>
    <ul>
      <li  ng-repeat = 'email in coCMs | filter:memberSearch' class = 'event-member {{attendedEvent(email, event.google_id)}}' ng-click = 'recordAttendance(event, email)'>{{email}}</li>
    </ul>

  </div>
</div>
