<style type = 'text/css'>
.post-content{
  margin-left:50px;
}
.label-material-purple-500{
  margin:2px;
}
.post-metadata{
    padding:5px;
    margin:5px;
}
.selected{
  background-color:black;
}
</style>
<h1>Blog</h1>

<a href = '#/createPost'>
  <button class = 'btn btn-material-blue-500'>Create Post</button>
</a>

<div ng-show = 'posts == null || loading == true'>
  <img src = '{{loadingGif}}' class = 'loading-gif'>
</div>

<div ng-show = 'posts != null'>
  <div class = 'col-md-4'>


    <input type = 'text' class = 'form-control' ng-model = 'searchTerm' placeholder = 'Search Blogposts'>

    <div id = 'filter-select'>
      <select ng-model = 'filter' class = 'form-control'>
        <option selected = 'selected' ng-repeat = 'option in filterOptions'>{{option}}</option>
      </select>
    </div>

    <div ng-repeat = 'post in posts | filter:searchTerm'>
      <a href = 'javascript:void(0);' ng-click = 'filterPost(post)'>{{post.title}}</a>

    </div>
  </div>
  <div class = 'col-md-8'>


      <div ng-repeat = 'tag in tags' ng-click = 'filterTags(tag)' class = 'tag label label-material-purple-500'>{{tag}}</div>

    <div ng-repeat = 'post in posts | filter:searchTerm'>
      <h2 id = '{{post.id}}'>{{post.title}}</h2>

        <div class = 'post-metadata'>
          <div ng-repeat = 'tag in post.tags' class = 'label label-material-purple-500'>{{tag}}</div>
          <div>Author: {{post.author}}</div>
          <div>Timestamp: {{post.timestamp}} </div>
          <div><a href = '?id={{post.objectId}}#/editPost'>Edit Post</a></div>
          <div><a href = '#/emailPost?id={{post.objectId}}'>Email Post</a></div>
          <div><a href ='javascript:void(0);' ng-click = 'pinPost(post)'>Pin Post</a></div>
  
        </div>

        <div class = 'post-content' ng-bind-html = 'post.content | to_trusted'></div>

    </div>
  </div>
</div>
