<style type = 'text/css'>
.centered{
  text-align:center;
}
.golink-div{
  margin-bottom:5px;
}
#search-input{
  max-width:300px;
}
</style>
<h1>Go Links</h1>

<input ng-keypress = '($event.which === 13)?searchGolinks(searchTerm):0' ng-model = 'searchTerm' type = 'text' class = 'form-control' placeholder = 'search' id = 'search-input'>

<div ng-show = 'golinks == null || loading == true'>
  <img src = '{{loadingGif}}' class = 'loading-gif'>
  Pulling golinks...
</div>

<div class = '' ng-show = 'golinks != null'>
  <div class = 'golink-div' ng-repeat = 'golink in golinks'>
    <div><a href = '{{golink.url}}'>{{golink.key}}</a> {{golink.description}} ({{golink.num_clicks}})</div>
    <div>Created by {{golink.member_email}} at  {{golink.createdAt}}</div>
  </div>

  <!--pagination-->
  <div class = 'pagination-div'>
    <a href = '#'>Pagination not implemented...</a>
  </div>
</div>
